* {
    box-sizing: border-box;
}

:root {
    --tela-mobile: 600px;
    --vermelho-foodcamp: #CF2B2B;
    --cor-corpo: #e5e5e5;
    --verde-confirmacao: #32B72F;
  }
.topo {
    background-color: var(--vermelho-foodcamp);
    height: 92px;
    width: var(--tela-mobile);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    color: #FFF;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topo span:first-of-type {
    font-family: 'Righteous', cursive;
    font-size:  44px;
}
.topo span:last-of-type {
    font-family: 'Roboto', sans-serif;
    font-size:  18px;
}
h1 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
}
.descricao {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #a6a6a6;
    font-weight: 300;
    display: inline-flex;
    margin-left: 15px;
    margin-top: 6px;
}
.preco {
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
}
ion-icon {
    font-size: 16px;
    color: var(--verde-confirmacao);
    display: inline-flex;
}
.fundo {
    font-family: 'Roboto', sans-serif;
}
.corpo {
    width: var(--tela-mobile);
    background-color: var(--cor-corpo);
    margin-top: 92px;
    border: 1px solid var(--cor-corpo);
}

.cardapio {
    margin-top: 40px;
    margin-left: 40px;
}

.principal li, .bebida li, .sobremesa li {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    margin-right: 25px;
    border-radius: 15px;
}

.produto-principal {
    border-radius: 15px;
    box-shadow: inset 0 0 0 8px var(--verde-confirmacao);
}
.produto-bebida {
    border-radius: 15px;
    box-shadow: inset 0 0 0 8px var(--verde-confirmacao);
}
.produto-sobremesa {
    border-radius: 15px;
    box-shadow: inset 0 0 0 8px var(--verde-confirmacao);
}
.principal li div div, .bebida li div div, .sobremesa li div div {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 15px 15px;
}
.principal, .bebida, .sobremesa {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.principal img, .bebida img, .sobremesa img {
    height: 120px;
    width: 180px;
    padding: 20px 15px 10px 15px;
    border-radius: 15px;
}

.fundo  {
    height: 92px;
    width: var(--tela-mobile);
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-corpo);
}
button {
    width: 364px;
    height: 61px;
    background-color: #cbcbcb;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 5px 80px;
}

.desativar-produto{
    box-shadow: none;
}

.desativar-icone{
    display: none;
}