* {
    box-sizing: border-box;
}

:root {
    --width-mobile: 600px;
    --vermelho-foodcamp: #CF2B2B;
    --cor-corpo: #e5e5e5;
    --verde-confirmacao: #32B72F;
    --fonte-roboto: 'Roboto', sans-serif;
    --fonte-righteous: 'Righteous', cursive;
  }
.topo {
    background-color: var(--vermelho-foodcamp);
    height: 92px;
    width: var(--width-mobile);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    color: #FFF;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topo span:first-of-type {
    font-family: var(--fonte-righteous);
    font-size:  44px;
}
.topo span:last-of-type {
    font-family: var(--fonte-roboto);
    font-size:  18px;
}
h1 {
    font-family: var(--fonte-righteous);
    font-size: 26px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
}
.descricao {
    font-family: var(--fonte-roboto);
    font-size: 15px;
    color: #a6a6a6;
    font-weight: 300;
    display: inline-flex;
    margin-left: 15px;
    margin-top: 6px;
    height: 45px;
}
.preco {
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
}
ion-icon {
    font-size: 16px;
    color: var(--verde-confirmacao);
    display: inline-flex;
}

.corpo {
    width: var(--width-mobile);
    background-color: var(--cor-corpo);
    margin-top: 92px;
    border: 1px solid var(--cor-corpo);
}

.cardapio {
    margin-top: 40px;
    margin-left: 40px;
}

.principal li, .bebida li, .sobremesa li {
    font-family: var(--fonte-roboto);
    background-color: #FFF;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 15px;
    height: 230px;
}

.produto {
    border-radius: 15px;
    box-shadow: inset 0 0 0 8px var(--verde-confirmacao), 0 6px 8px lightslategray;
}

.principal li div div, .bebida li div div, .sobremesa li div div {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 15px 15px;
}
.principal, .bebida, .sobremesa {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.principal img, .bebida img, .sobremesa img {
    height: 120px;
    width: 180px;
    padding: 20px 15px 10px 15px;
    border-radius: 15px;
}

.fundo  {
    height: 92px;
    width: var(--width-mobile);
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-corpo);
    font-family: var(--fonte-roboto);
}
button {
    width: 364px;
    height: 61px;
    background-color: var(--verde-confirmacao);
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 5px 80px;
    outline: none;
}
.desativar-produto{
    box-shadow: none;
}

.desativar-icone{
    display: none;
}
.desativar-botao{
    background-color: #cbcbcb;
}
.confirmar-pedido {
    height: 1072px;
    width: var(--width-mobile);
    background-color: #FFFFFFDD;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: var(--fonte-roboto);
    font-size: 22px;
}
.esconder {
    z-index: -1;
}
.confirmar-pedido > div {
    width: 377px;
    height: 353px;
    background-color: #50D074;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc((1072px - 353px)/2);
    border-radius: 9px;
    padding: 20px 25px;
    font-size: 22px;
    color: #fff;
}
.confirmar-pedido h4 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.confirmar-pedido li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.confirmar-pedido li:last-of-type {
    font-weight: 700;
}
.confirmar-pedido div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}
.confirmar-pedido div > div span {
    font-size: 20px;
    margin-top: 18px;
}
.botao-confirmacao {
    width: 333px;
    height: 52px;
    background-color: #fff;
    color: #50D074;
    border-radius: 100px;
    display: flex;
    justify-content: center;
}